.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    background-color: #8d7a66;
    padding: 15px;
    width: 50vh;
    height: 50vh;
    border-radius: 15px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.grid-cell {
    background-color: #ece0d1;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc((50vh - 60px) / 4);
    height: calc((50vh - 60px) / 4);
    font-size: 55px;
    font-weight: bold;
    color: #7d736a;
    text-align: center;
}

.score {
    font-size: 24px;
    font-weight: bold;
    color: #7d736a;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    display: inline-block;
    min-width: 160px;
    text-align: center;
}

.high-score {
    font-size: 24px;
    font-weight: bold;
    color: #ffffff;
    margin: 0;
}

.game-controls {
    background-color: #8f7a66;
}

button {
    background-color: #ece0d1;
}

button:hover {
    background-color: #8f8277;
}

@media (max-width: 688px) {
    .grid-container {
        height: calc(50vh * .7);
        width: calc(50vh * .7);
    }
    .grid-cell {
        width: calc(calc((50vh - 60px) / 4) * .7);
        height: calc(calc((50vh - 60px) / 4) * .7);
    }
}