:root {
    --board-height: 60vh;
    --board-width: 70vh;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.board {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    padding: 10px; 
    background-color: blue;
    border: 5px solid navy;
    width: var(--board-width);
    height: var(--board-height);
}

.circle {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 50%;
    margin: 3px;
}

.column {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    cursor: pointer;
}

@media (max-width: 688px) {
    .board {
        height: calc(var(--board-height) * .7);
        width: calc(var(--board-width) * .7);
    }
}