:root {
    --cell-size: 30px;
    --cell-margin: 2px;
}

.game-rules {
    border: 2px solid #808080;   
}

#reset-button:hover {
    background-color: #a8a7a7;
}

.game-controls {
    background-color: #808080;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
    position: relative;
}

.difficulty-button {
    background-color: #808080;
    height: max-content;
    margin: 0px 5px;
}

.difficulty-button:hover {
    background-color: #656565;
}

.flag-button {
    margin-left: auto;
    width: 3.3rem;
    height: 3.3rem;
    padding: 0;   
}

.flag-button img {
    width: 100%;
    height: 100%;
}

.game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.minesweeper-board {
    margin: 0 10px;
    display: grid;
    background-color: #808080;
    width: var(--board-width);
    height: var(--board-height);
    grid-template-columns: repeat(auto-fill, var(--cell-size));
    grid-gap: var(--cell-margin);
    user-select: none;
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    background-color: #c0c0c0;
}

.cell:hover {
    background-color: #a0a0a0;
}

.cell.flagged {
    background-image: url('../red-flag.png'); /* Update the path to where your image is stored */
    background-size: cover;  /* This will cover the entire area of the cell */
    background-position: center; /* This will center the image in the cell */
    background-repeat: no-repeat;
}


.cell.mine.visible {
    background-color: red; /* Show red for mines */
}

#visible {
    opacity: 0.5;
}